.firstPageContainer{
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.leftFirstPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    height: 100%;
}
.pplLogo{
    width: 200px;
}
.firstFormContainer{
    width: 100%;
}
.firstHead{
    color: white;
}
.firstInputLabel{
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
}
.firstInputTag{
    color: white;
    width: 97%;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid gray;
    outline: none;
    padding-left: 10px;
}
.forgotLink{
    color: #d7870e;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
}
.firstPageLoginButton{
    background-color: #6250F8;
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

.firstPageSignUpButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: relative;
    border-top: 1px solid gray;
}
.firstPageSignUpHead{
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 5px 20px;
    position: absolute;
    top: -14px;
    background-color: black;
}    
.firstPageSignUpButton{
    background-color: rgb(82, 82, 82);
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rightFirstPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
}
.rightStatusHead{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.rightStatusAmount{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width:700px) {
 .firstPageContainer{
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    border-bottom: 2px solid white;
 }
 .leftFirstPageContainer{
    width: 80%;
 }   
 .rightFirstPageContainer{
    margin-bottom: 50px;
 }
}
@media (max-width:400px) {
    .pplLogo{
        width: 150px;
    }
    .leftFirstPageContainer{
        width: 90%;
     } 
    .firstHead{
        font-size: 20px ;
    }
    .firstInputLabel,.firstInputTag{
        font-size: 12px;
    }
    .forgotLink{
        font-size: 12px;
    }
    .rightStatusHead{
        font-size: 16px;
    }   
    .rightStatusAmount{
        font-size: 14px;
    }
}